/*
FOOTER
 */

.footer {
  display: grid;
  justify-items: center;
  box-sizing: border-box;
  border-top: 1px solid #D9FFF5;
}
.footer .flex-block {
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: #7E7E82;
  margin: 16px 16px;
}
.footer .flex-block:first-child {
  max-width: 220px;
}
.footer__text {
  font-size: 14px;
  line-height: 16px;
}
/*
MEDIA 768px
 */

@media (min-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }
  .footer .flex-block:first-child {
    justify-content: flex-start;
    justify-self: start;
  }
  .footer .flex-block:last-child .footer__text {
    justify-self: end;
    text-align: right;
  }
}
