/*
HEAD
 */

.main__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.main__head-title {
  display: flex;
  align-items: center;
  border-left: 4px solid #41F6D7;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-left: 12px;
}
.main__head .flex-block {display: none;}

/*
MENU
 */

.main__menu {
  display: flex;
  overflow-x: scroll;
  margin: 0 16px;
}
.main__menu::-webkit-scrollbar {
  background-color: inherit;
}
.main__menu::-webkit-scrollbar-track-piece {
  background: linear-gradient(180deg, #F8F8F8 45%, #41F6D7, #F8F8F8 55%);
}
.main__menu::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg ,#F8F8F8 20%, #7E7E82 21%, #7E7E82 79%, #F8F8F8 80%);
  border-radius: 10px;
}
.main__menu .button {
  box-sizing: border-box;
  flex-shrink: 0;
  color: #7E7E82;
  height: 40px;
  border: 2px solid #F8F8F8;
  padding-left: 16px;
  padding-right: 16px;
}
.main__menu .button:hover {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

/*
ABOUT COMPANY
 */

.main__about-company .flex-block:first-child {
  flex-direction: column;
  margin: 16px;
}
.main__about-company .text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 12px;
}
.main__about-company .flex-block:last-child {
  justify-content: center;
  min-width: 320px;
  margin: 16px 0;
}
.image-about {
  width: 100%;
  max-width: 520px;
}

/*
SUP CLASSES FOR SHOW MORE
 */

.more--full {
  height: 100% !important;
}
.rotate {
  transform: rotate(-180deg);
}

/*
MEDIA 768px
 */

@media (min-width: 768px) {
.main__head {
  padding-top: 24px;
  padding-bottom: 32px;
}
.main__head-title {
  padding-left: 20px;
}
.main__menu {
  margin: 0 24px;
}
.main__about-company {
  display: flex;
  align-items: flex-start;
}
.main__about-company .flex-block:first-child {
  flex-direction: column;
  min-width: 312px;
  max-width: 50%;
  margin: 24px 24px 0;
}
.main__about-company .text  {
  height: 160px;
}
.main__about-company .flex-block:last-child {
  min-width: 360px;
  max-width: 50%;
  margin: 24px 24px 0;
}
}

/*
HIDING SHOW MORE
 */

@media (min-width: 918px) {
.main__about-company .more {display: none !important;}
}
@media (min-width: 1048px) {
.more {display: none !important;}
}

/*
MEDIA 1440px
 */

@media (min-width: 1440px) {
.main__head {
  padding-top: 42px;
  padding-bottom: 10px;
}
.main__head-title {
  padding-left: 28px;
}
.main__head .flex-block {display: flex;}
.main__head .buttons-container {
  margin-right: 32px;
}
.main__head .button:first-child {
  margin-right: 8px;
}
.main__menu {
  flex-wrap: wrap;
}
.main__menu {
  margin: 0 32px;
}
.main__menu::-webkit-scrollbar {display: none;}
.main__about-company .flex-block:first-child {
  flex-direction: column;
  min-width: 490px;
  margin: 10px 36px 0 32px;
}
.main__about-company .flex-block:last-child {
  min-width: 530px;
  margin: 10px 32px 24px 0;
}
.article__img {
  width: 100%;
  min-width: 520px;
  max-width: none;
}
}
